 body{  
        font-family: sans-serif;  
        background: url(pexels1.jpg);
        background-size: cover;
        background-position: 0px 0px;        
      }  
      .container {  
          width: 600px;
          padding: 10px;   
          margin: 1px auto 0 auto; 
          color:White;
          position:relative; 
          border-radius: 10px;
                  
      } 
       
      input[type=text], input[type=password], textarea {  
        width: 50%;  
        padding: 15px;  
        border-radius: 10px;
        margin: 5px 0 22px 0;  
        display:list-item;  
        border:none;  
        background: #f1f1f1;  
      }  
      
      input[type=tel] {
        
        width: 50%;  
        padding: 15px;  
        border-radius: 10px;
        margin: 5px 0 22px 0;  
        display: list-item;  
        border:none;  
        background: #f1f1f1;  
      }  
      
      input[type=text]:focus, input[type=password]:focus {  
        background-color: white;  
        outline: none;  
      }  
       div {  
              padding: 10px 0;  
           }  
      hr {  
        border: 1px solid #f1f1f1;  
        margin-bottom: 25px;  
      }  
      
      .registerbtn {  
        background-color: #4CAF50;
        border-radius: 20px;  
        color: white;  
        padding: 16px 20px;  
        margin: 8px 0;  
        border: none;  
        cursor: pointer;  
        width: 40%;  
        opacity: 0.9;  
      }  
      .registerbtn:hover {  
        opacity: 1;
          cursor: pointer;
          background: #ffc107;
          color: #000;
      }  
}